@model PurchaseWeb_2.Models.SearchPoListbyDate

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">PO List</h3>
    </div>
    
<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <table class="" style="border-spacing: 20px;">
                <tr>
                    @using (Ajax.BeginForm("POListByDate", "PO", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivPOListByDate" }))
                    {
                        <td>
                            From Date :
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <!--<input type="date" id="FromDate" name="FromDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />-->
                            @Html.EditorFor(model => model.FromDate, new { @onchange = "chgDateFrom(this.value)" })
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            To Date :
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <!--<input type="date" id="ToDate" name="ToDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />-->
                            @Html.EditorFor(model => model.ToDate, new { @onchange = "chgDateTo(this.value)" })
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <button type="submit" class="btn btn-primary">Preview</button>
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    }
                    @using (Html.BeginForm("ExportToExcel", "PO", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <td>
                            <input type="hidden" id="FromDates" name="FromDates" value="" />
                            <input type="hidden" id="ToDates" name="ToDates" value="" />
                            <button style="display:none" class="btn btn-info" id="btnExport" name="btnExport" onclick="">Export To Excel</button>
                        </td>
                    }
                </tr>
            </table>
            

        </div>
        

    </div>
</div>
    

</div>
