@model IEnumerable<PurchaseWeb_2.ModelData.Department_mst>


<table class="table">
    <tr>
        <th>
            Department Name
        </th>
        <th>
            Date Created
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_date)
        </td>
        <td>
            <a href="@Url.Action("departmentEdit","Main", new { id=item.Dpt_id })"  class="btn btn-info"><i class="fa fa-pen"> </i></a> &nbsp;&nbsp;
            <a href="@Url.Action("departmentDelete","Main", new { id=item.Dpt_id })"  class="btn btn-danger"><i class="fa fa-trash"></i></a>

            
        </td>
    </tr>
}

</table>
