
@{
    ViewBag.Title = "HODManagerForm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="divHodManagerForm">
    <div class="card card-primary">
        <div class="overlay" id="loadingForm">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
        <div class="card-header">
            <h6 class="card-title">HOD Manager Setup</h6>
        </div>
        @using (Ajax.BeginForm("SaveHodManager", "Main", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divHodManagerList", OnSuccess = "OnSuccessSave", LoadingElementId = "loadingList" }))
        {
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table style="width:100%">
                            <tr>
                                <td style="width:10%">
                                    HOD Manager
                                </td>
                                <td style="width:2%">:</td>
                                <td style="width:10%">
                                    <select class="custom-select form-control-border" id="HodManagerId" name="HodManagerId" required>
                                        <option value="">Select option</option>
                                        @foreach (var user in ViewBag.HodManUser)
                                        {
                                            <option value="@user.usr_id">@user.Username</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:2%">&nbsp;</td>
                                <td style="width:10%">
                                    HOD
                                </td>
                                <td style="width:2%">:</td>
                                <td style="width:10%">
                                    <select class="custom-select form-control-border" id="HodId" name="HodId" required>
                                        <option value="">Select option</option>
                                        @foreach (var user in ViewBag.HodUsers)
                                        {
                                            <option value="@user.usr_id">@user.Username</option>
                                        }
                                    </select>
                                </td>
                                <td style="width:2%">&nbsp;</td>
                                <td style="width:5%">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"> Add </i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        }

    </div>
</div>

<div id="divHodManagerList">
    @{ Html.RenderAction("ListHodManager", "Main");}
</div>

<script>
    

    function OnSuccessSave() {
        $("#HodId").val("");
        function hideLoaderList() {
            $("#loadingList").css("display", "none");
        }
        window.setTimeout(hideLoaderList, 1000);
    }

    $(window).on('load', function () {
        function hideLoader() {
            $("#loadingForm").css("display", "none");
        }
        window.setTimeout(hideLoader, 1000);
    });
</script>


