
            
<select class="form-control" id="group" name="group">
    <option value="3">CPRF</option>
    <option value="4">NoN CPRF</option>
    <option value="5">WAFER</option>
    <option value="6">Direct Material</option>
</select>
