@model PurchaseWeb_2.ModelData.PR_Mst

<div class="container">
    <div class="row">
        <div class="col-8">
            Purpose : 
        </div>
    </div>

    <table class="table table-striped table-head-fixed">
        <tr>
            <th>
                No
            </th>
            <th>
                Description
            </th>
            <th>
                Qty
            </th>
            <th>
                UOM
            </th>
            <th>
                Package
            </th>
            <th>
                
            </th>
        </tr>
    </table>
</div>
