
@{
    ViewBag.Title = "PurRequest";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script>
    function chgPRtypeQue(id) {
        console.log(id);

        $.ajax({
            type: "POST",
            url: "@Url.Action("groupType", "Purchase")",
            data: JSON.stringify({ groupType: id }),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
            $("#PrGroup").show();
            $("#groupType").html(response);
        

        },
            failure: function (response) {
            alert(response.responseText);
        }
        });
    }
</script>

<h1>User Purchase Request</h1>
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Create Purchase Request</h3>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("AddPurRequest", "Purchase", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPrMstList" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <select class="form-control" data-val="true" data-val-number="The field TypePRId must be a number." id="Doctype" name="Doctype" onchange="chgPRtypeQue(this.value)">
                                        <!--<option value="0">Please choose your PR type</option>-->
                                        @*<option value="1">Stockable - Wafer - Non Consign</option>*@
                                        @*<option value="2">Stockable - Wafer - Consignment</option>*@
                                        <option value="3">Stockable - Non Wafer - Non Consign</option>
                                        @*<option value="5">Stockable - Non Wafer - Consignment</option>*@
                                        <option value="4">Non Stockable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" id="PrGroup">
                            <div class="row">
                                <div class="col-10">
                                    <div id="groupType">
                                        @{ Html.RenderAction("groupType", "Purchase", new { groupType = 3 });}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button class="btn btn-success"><i class="fa fa-plus-circle">&nbsp; Purchase Request</i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="notification">
    @Html.Partial("_Notifications")
</div>

<div class="row">
    <div class="col-md-12">
        

        <div id="divPrMstList">
            @{Html.RenderAction("PrMstList", "Purchase");}
        </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content ">
            <div class="modal-header alert alert-danger alert-dismissible">
                <h5 class="modal-title " id="alertModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please choose the Purchase Request Type
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#notification").delay(5000).fadeOut("slow");
    });


    // to create PRHead
    function addPRHead() {
        var TypePrID = $("#TypePRId").val();
        if (TypePrID != "0") {
            console.log = TypePrID;
            window.location.href = "~/Purchase/AddPurRequest?Doctype=" + TypePrID;
        }
        else {
            console.log = TypePrID;
            $('#alertModal').modal('show');
            return false;
        }
    }

    function chgPRtype(prType) {
        console.log(prType);

        $.ajax({
        type: "POST",
        url: "@Url.Action("groupType", "Purchase")",
        data: JSON.stringify({ groupType: prType }),
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        success: function (response) {
        $("#PrGroup").show();
        $("#groupType").html(response);
        //if (prType == 4) {
        //    $("#PrGroup").hide();
        //}

        },
        failure: function (response) {
        alert(response.responseText);
        }
        });
    }
</script>