@model IEnumerable<PurchaseWeb_2.ModelData.vw_sourcingRemarksLst>


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">
            Sourcing Remarks
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Remarks</td>
                    <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-danger" id="deleteFile" name="deleteFile" onclick="deleteRemarks(@item.PRid,@item.VCId)" href="#">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                
            }
        </table>
            
    </div>
</div>

<script>
    function deleteRemarks(prMstId, VCId) {
        //alert(prMstId);
        //alert(fileId);
        $.ajax({
            type: "POST",
            url: "@Url.Action("deleteSourcingRemarks", "Purchase")",
            data: '{ PrMstId:"' + prMstId + '", VCid:"' + VCId + '"  }',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#divSourcingRemarks").html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>

