<table style="width:100%">
    <tr>
        <td>@ViewBag.CurrId</td>
        <td>
            <input class="form-control" name="Exchange" id="Exchange" value="@ViewBag.CurrRate" required readonly />
        </td>
    </tr>
</table>
