<div class="row">
    <div class="col-md-12">
        <div id="divCPRFDtlsLst">
            @{ Html.RenderAction("CPRFDtlsLstView", "CPRF", new { CprfId = ViewBag.CprfId, URL = ViewBag.URL });}
        </div>
    </div>
</div>
