
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>CPRF Complete List</h2>

<div class="row">
    <div class="col-sm-12">
        <div id="divCPRFListCard">
            @{ Html.RenderAction("CPRFCompleteList2", "CPRF", new { page = ViewBag.page, search = ViewBag.Search });}
        </div>
    </div>
</div>