@model PurchaseWeb_2.ModelData.CPRFBudget_Mst

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="row">
    <div class="col-md-8">
        <div id="divCPRFMainForm">
            @{ Html.RenderAction("CPRFMstForm", "CPRF", new { CprfId = Model.CPRF_Id, EditFlag = 1 });}
        </div>
    </div>
    <div class="col-md-4">
        <div id="divFileForm">
            @{ Html.RenderAction("CPRFFileForm", "CPRF", new { CprfId = Model.CPRF_Id });}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="divCPRFDtlsForm">
            @{ Html.RenderAction("CPRFDtlsForm", "CPRF", new { CprfId = Model.CPRF_Id, EditFlag = 1 });}
        </div>
    </div>
</div>
