@model PurchaseWeb_2.ModelData.CostCentre_Mst

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">
                    Cost Centre
                </div>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("UTCostCentreMstSave", "CPRF"
                    , new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divCostCentreLst" }))
                {
                    <table style="width:60%">
                        <tr>
                            <td>Cost Centre Code</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="CostCentreStr" id="CostCentreStr" required />
                            </td>
                        </tr>
                        <tr>
                            <td>Cost Centre Desc</td>
                            <td>:</td>
                            <td>
                                <input type="text" class="form-control" name="Description" id="Description" required />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style="text-align:center">
                                <button class="btn btn-primary">Save</button>
                            </td>
                        </tr>
                    </table>
                }

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="divCostCentreLst">
            @{ Html.RenderAction("UTCostCentreMstLst", "CPRF");}
        </div>

    </div>
</div>
