
@{
    ViewBag.Title = "DeptBudgetDetails";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Department Budget Details</h2>

<br />
<br />

<a href="http://reportmanager/ReportServer/Pages/ReportViewer.aspx?%2fPRS%2fBudgetDeptMonthly&rs:Command=Render" target="_blank">Monthly Department Budget Details</a>

@*<iframe src="http://reportmanager/ReportServer/Pages/ReportViewer.aspx?%2fPRS%2fPRProcessingTime&rs:Command=Render" style="width: 100%" class="myIframe">
    </iframe>*@

<iframe src="~/ReportView/DeptBudgetDetails.aspx" style="width: 100%" class="myIframe">
</iframe>


<script type="text/javascript" language="javascript">

    $('.myIframe').css('height', $(window).height() + 'px');

</script>